@import '../../../assets/scss/global.scss';

.form {
  padding: 6rem 0 0 0;

  & h2 {
    line-height: 2.52rem;
    font-size: 2.15rem;
    font-weight: 600;
    color: $second;
  }

  & button {
    width: fit-content;
    padding: 0.8rem 2.5rem;
    margin: 0.65rem 0 0 0;

    border: none;
    color: $accent2;
    font-size: 1rem;
    font-weight: 500;
    transition: 200ms ease;

    &:first-child {
      margin-top: 3rem;
    }
  }

  & .form-other {
    background: transparent;
    color: $second;
    border: 2.5px solid $second;
  }
}


.form-buttons {
  display: flex;
  flex-direction: column;
}

// Input
.form-input {
  position: relative;
  width: 100%;
  height: 3.15rem;
  margin: 2rem 0 0 0;
  overflow: hidden;

  & input {
    width: 100%;
    height: 100%;

    border: none;
    background: transparent;
    border-bottom: 3px $second solid;
    outline: none;
    color: $second-darker;
    font-size: 1rem;
    font-weight: 500;

    &::placeholder {
      color: $second-darker;
      font-size: 1rem;
      font-weight: 500;
    }
  }
}

.form-other-button {
  margin: 4rem 0 0 0;

  & button {
    margin: 1rem 0 0 0;
  }
}