@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');
@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-weight: 400;
  background: $primary;

  // margin-bottom: 500px;
}

button, input {
  font-family: $font-family;
}

// Remove weird blue background when google autofill is used on inputs 
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

// Desktop view
@media all and (min-width: 1025px) {
  button {
    cursor: pointer;
  }
}