@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

// Colors
$accent: #36C99A;
$accent-hover: #559d86;
$primary: #111111;
$primary-lighter: #161616;
$lighter-bg: #323232;
$second: #E0E0E0;
$second-darker: #d3d3d3;
$text: #A7A7A7;
$text-lighter: #D3D3D3;
$dark: #686868;
$fading-bg: #252525;
$accent2: #5d8e7f;
$accent2-hover: #3ac39e;

// Fonts
$font-family: 'Poppins', sans-serif;

// Transition

// Other
$padding: 1.25rem;
$width: 1245px;