@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

// Colors
$accent: #36C99A;
$primary: #111111;
$lighter-bg: #323232;
$second: #E0E0E0;
$darker-second: #d3d3d3;
$text: #A7A7A7;
$dark: #686868;

// Fonts
$font-family: 'Poppins', sans-serif;

// Transition

// Other
$padding: 1.25rem;