@import '../../../assets/scss/global.scss';

.landing {
  padding: 18rem $padding 0 $padding;

  & .landing-go-back {
    font-size: 0.75rem;
    font-weight: 300;
    color: $dark;
  }

  & h1 {
    margin: -1rem 0 -2.7rem 0;

    font-size: 4rem;
    font-weight: 600;
    color: $second;

    & span {
      color: $accent;
    }
  }
}