@import '../../../assets/scss/global.scss';

.review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-width: 100%;
  height: 21rem;
  padding: 2.25rem $padding 2.1rem $padding;
  position: relative;

  background: linear-gradient(113.38deg, #111111 0%, #181818 49.96%, #1C1C1C 98.98%);
  transition: 290ms ease;

  & h6 {
    position: absolute;
    top: 1.31rem;
    right: 1.31rem;

    font-size: 0.72rem;
    font-weight: 300;
    color: $text;
  }

  & .review-p {
    max-height: 105px;
    overflow: auto;
    margin: 0.4rem 0 0 0;

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background-color: #3a3a3a;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: #7b7b7b;
    }
  }

  & p {
    margin: 0rem 3rem 0 0;

    font-size: 0.875rem;
    font-weight: 400;
    color: $text;
  }

  & h4 {
    margin: 1rem 0 0 0;

    font-weight: 400;
    font-size: 1.18rem;
    color: $accent;
  }

  & h3 {
    font-weight: 300;
    font-size: 0.875rem;
    color: $second;
  }
}

@media all and (min-width: 1025px) {
  .review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    min-width: 33.2rem;
    height: 22rem;
    padding: 2.25rem 2.5rem 2.25rem 2.5rem;
    position: relative;
  
    background: linear-gradient(113.38deg, #111111 0%, #181818 49.96%, #1C1C1C 98.98%);
    transition: 200ms ease;
    opacity: 100%

    & h6 {
      position: absolute;
      top: 2rem;
      right: 2rem;
  
      font-size: 0.75rem;
      font-weight: 300;
      color: $text;
    }

    & .review-p {
      max-height: 119px;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background-color: #303030;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background-color: #575757;
      }
    }
  
    & p {
      margin: 0 1.5rem 0 0;
  
      font-size: 0.95rem;
      font-weight: 400;
      color: $text;
    }
  
    & h4 {
      margin: 1.15rem 0 0 0;
  
      font-weight: 400;
      font-size: 1.22rem;
      color: $accent;
    }
  
    & h3 {
      font-weight: 300;
      font-size: 0.875rem;
      color: $second;
    }
  }

  .review-trans {
    opacity: 0;
  }
}