@import '../../assets/scss/global.scss';

.nav {
  display: flex;
  align-items: center;

  width: 100%;
  height: 5rem;
  padding: 0 $padding;

  & a {
    text-decoration: none;
    color: $second;
  }

  & h4 {
    position: fixed;
    right: $padding;
    z-index: 35;

    text-decoration: underline;
  }

  & h2, h4 {
    font-size: 0.9rem;
    font-weight: 300;
    color: $second;
  }
}

.nav-go-back {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 3rem;
  height: 3rem;
  position: fixed;
  right: $padding;
  bottom: -4.5rem;
  z-index: 1500;

  background: #2F2F2F;
  border-radius: 50%;
  transition: 300ms ease;
  cursor: pointer;
  opacity: 0;

  &:hover {
    background: #3e3e3e;
  }

  & svg {
    margin-left: 1.2px;
  }
}

.nav-go-back-active {
  bottom: $padding;
  opacity: 100%;
}

@media all and (min-width: 1025px) {
  .nav-cont {
    display: flex;
    justify-content: center;
    position: relative;
  
    width: 100%;
  }

  .nav {
    display: flex;
    align-items: initial;
    justify-content: space-between;
  
    width: $width;
    height: auto;
    padding: 2rem $padding 0 $padding;
  
    & a {
      position: relative;

      text-decoration: none;
      color: $second;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1.25px;
        left: 0;
        bottom: 0;
        transform: scale(0);

        background: $second;
        transition: 300ms ease;
        transform-origin: left;
      }

      &:hover::before {
        transform: scale(1);
      }
    }
  
    & h4 {
      position: initial;
      right: initial;
      z-index: initial;
  
      text-decoration: underline;
    }
  
    & h2, h4 {
      font-size: 0.9rem;
      font-weight: 300;
      color: $second;
    }
  }

  .nav-links-contact {
    margin-top: 0.5rem;
    padding: 0.17rem 0.6rem 0.18rem 0.6rem;

    border: 1.55px solid $accent;
    color: $accent !important;
    cursor: pointer;
    transition: 300ms ease;

    &:hover {
      border: 1.55px solid $accent2;
      color: $second !important;
      background: $accent2;
    }
  }

  .nav-title {
    height: fit-content;
  }

  .nav-links {
    & li {
      margin-bottom: 0.3rem;
      width: fit-content;

      list-style-type: none;
      font-size: 0.85rem;
      font-weight: 300;
      color: $text-lighter;
    }
  }

  .nav-links-mid {
    margin: 0 0 0 7rem;

    & li {
      margin-bottom: 0.3rem;
      position: relative;

      list-style-type: none;
      font-size: 0.75rem;
      font-weight: 300;
      color: $text-lighter;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1.25px;
        left: 0;
        bottom: 0;
        transform: scale(0);

        background: $second;
        transition: 300ms ease;
        transform-origin: left;
      }

      &:hover::before {
        transform: scale(1);
      }
    }
  }
}